* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.nav {
  display: flex;
  background-color: #122238;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0px 180px;
}
.nav img {
  height: 25px;
  cursor: pointer;
}
.list ul {
  font-weight: bold;
  display: flex;
  list-style: none;
  gap: 40px;
  color: white;
}
.list ul li {
  padding: 10px;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
}
.list ul li:hover {
  padding: 7px;
  border-bottom: 3px solid white;
}
.sec {
  height: 700px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  overflow: hidden;
}
.t {
  width: 100%;
  position: relative;
  z-index: -2;
}
.sec .sec1 {
  position: absolute;
  width: 45%;
  /* background: beige; */
  right: 45%;
}
.sec .sec1 h1 {
  font-size: 100px;
  color: #ba1c24;
}
.sec .sec1 h1 span {
  color: #0632b9;
}
.sec .sec1 p {
  font-size: 20px;
  text-wrap: balance;
}
.sec .sec1 img {
  height: 70px;
}
.sec .sec2 {
  width: 35%;
  margin-top: auto;
  left: 50%;
  position: absolute;
  padding-top: 100px;
}
.sec .sec2 img {
  height: 600px;
}
.svg {
  display: flex;
  justify-content: space-between;
  /* align-items: start; */
  width: 35%;
  /* background-color: red; */
}
.svg svg {
  width: 20px;
  height: auto;
  cursor: pointer;
}
.meet {
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
}
.meet h1 {
  font-size: 50px;
  text-align: center;
  padding: 50px 0px 40px 0px;
}

.line {
  height: 3px;
  width: 120px;
  position: relative;
  left: 45%;
  right: auto;
  margin-bottom: 70px;
  background-color: red;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meetParts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.meet1 img {
  width: 600px;
}
.meet2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  /* background-color: beige; */
  width: 600px;
  height: 405px;
}
.meet2 p:first-child {
  color: #ba1c24;
  font-size: 25px;
  font-weight: 600;
  /* background-color: black; */
  width: 30%;
}
.follow {
  display: flex;
  align-items: center;
}
.meet2 button {
  width: 200px;
  padding: 15px 0px;
  cursor: pointer;
  border-style: none;
  color: white;
  background-color: #ba1c24;
  font-weight: 900;
  font-size: 15px;
  border-radius: 30px;
  transition: all 0.4s;
  /* margin-bottom: 20px; */
}
.meet2 button:hover {
  background-color: #122238;
}
.para {
  /* background-color: red; */
  height: 2000px;
  text-wrap: pretty;
  width: 90%;
  padding-top: 25px;
}
.care {
  background-image: url(https://res2.weblium.site/res/5da5234dfb38ab0026951b65/5da532cd5c96ee00270a6032_optimized_1396.webp);
  height: 440px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.cover {
  background-color: #0633b9f2;
  height: 100%;
}

.box {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.svg-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 20px;
}
.svg-box svg {
  width: 100px;
  height: 100px;
}
.svg-box h3 {
  font-size: x-large;
}
.svg-box p {
  text-align: center;
}

.together {
  height: 670px;
  background-color: #0f1f34;
}
.together h1 {
  font-size: 50px;
  text-align: center;
  padding: 50px 0px 40px 0px;
  color: white;
}
.lines {
  height: 3px;
  width: 120px;
  position: relative;
  left: 45%;
  right: auto;
  margin-bottom: 70px;
  background-color: white;
}
.boxes {
  width: 70px;
  height: 70px;
  background-color: #0632b9;
  border-radius: 70px;
  color: white;
}
.boxes svg {
  position: relative;
  width: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.together-minor {
  color: white;
  width: 570px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
}
.together-minor h3 {
  font-size: 26px;
  font-weight: 700;
}
.together-minor {
  font-weight: 400;
  gap: 20px;
}
.together-content {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: auto;
  justify-content: space-between;
  height: 80px;
  gap: 20px;
}
.together-major {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 0px;
}

.issues {
  height: 800px;
  background-image: url(https://res2.weblium.site/res/5da5234dfb38ab0026951b65/5da53d23caca240026049981_optimized_1382.webp);
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.issues h1 {
  font-size: 50px;
  text-align: center;
  padding: 50px 0px 40px 0px;
}
.lin {
  height: 3px;
  width: 90px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 70px;
  background-color: #ba1c24;
}
.minorissue {
  width: 400px;
  height: 440px;
  box-shadow: 0px 0px 20px rgba(54, 52, 52, 0.486);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 29px;
  padding-top: 50px;
  background-color: white;
}
.majorissue {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.minorissue svg {
  width: 70px;
  color: #0632b9;
  height: auto;
  z-index: 10;
}
.minorissue h3 {
  font-size: 26px;
  font-weight: 700;
}
.minorissue p {
  font-size: 16px;
  text-wrap: balance;
  text-align: center;
}
.thoughts {
  height: 510px;
  background:rgba(14, 30, 80, 0.5) url(https://res2.weblium.site/res/5d4a7a7ab812bc0023367641/5d9f415117985b002628c212_optimized_1506.webp);
  background-blend-mode: darken;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.thoughts button {
  width: 200px;
  padding: 15px 0px;
  cursor: pointer;
  border-style: none;
  color: white;
  background-color: #ba1c24;
  font-weight: 900;
  font-size: 15px;
  border-radius: 30px;
  transition: all 0.4s;
  margin-top: 20px;
}
.thoughts button:hover {
  background-color: #122238;
}
.thoughts img {
  width: 155px;
}
.thoughts h1 {
  font-size: 40px;
  font-weight: 700;
}
.thoughts p {
  font-size: 20px;
  font-weight: 400;
}
/* .message{
  height: 880px;
  background: pink;
  background-image: url(https://res2.weblium.site/res/5d4a7a7ab812bc0023367641/5d9f5f3a07115600275ad78e_optimized_1779.webp);
  background-repeat:no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  background-position: center;
  background-size: cover;} */
.message{
  height: 880px;
  background-image: url(https://res2.weblium.site/res/5d4a7a7ab812bc0023367641/5d9f5f3a07115600275ad78e_optimized_1779.webp);
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  background-size:cover;
}


.form{
  height: 700px;
  width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0px 0px 10px  rgb(75, 75, 75);
  position: relative;
  left:30.5%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
}

.form button{
  display: block;
  width: 80%;
  padding: 15px 0px;
  cursor: pointer;
  border-style: none;
  color: white;
  background-color: #ba1c24;
  font-weight: 900;
  font-size: 15px;
  border-radius: 30px;
  transition: all 0.4s;
  margin-bottom: 70px;
  margin-top: 25px;
}
.form input{
  display: block;
  width: 80%;
  border: none;
  padding: 15px 25px;
  border-radius: 25px;
  background-color: #E2E4E7;
}
.form h3{
  font-size: 32px;
  width: 80%;
  text-align: center;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 20px;
}
.form p{
  font-size: 18px;
  text-align: center;
  width: 80%;
  padding: 0px 20px;
  margin-bottom: 10px;
}

.contact{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.congress{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  gap:15px
}

.contact h3{
  font-size: 26px;
  font-weight: 700;
  color:#122238;
}

.congress img{
  width:200px;
}
.congress p{
  color: #122238;
}
.write{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  color: #ba1c24;
}
.secretary{
  color: #ba1c24;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.created{
  height: 30px;
  background-color: #122238;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 180px;
}